[user]
	name = Mikkel Oscar Lyderik Larsen
	email = m@moscar.net
	signingkey = F099CB25856A99F5BD38DC0952A88241F3D2F5C1
[github]
	user = mikkeloscar

[core]
	quotepath = false
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
	ui = true
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	l  = log
	df = diff
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	commit = commit -s
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = mikkeloscar@gmail.com
	smtpserverport = 587
[credential]
	helper = store
[commit]
	gpgsign = true
	cleanup = scissors
[url "git@github.bus.zalan.do:"]
	insteadOf = https://github.bus.zalan.do/
