!!!Cursor!!!

/* Xcursor.theme: Vainilla-DMZ-AA Xcursor.size: 22 */

/* Xcursor.theme: chrome */
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 18


! Colorscheme based on solarized
! boralis
*background:            #151515
*foreground:            #d8e3e7
*fading:                10
*fadeColor:             #002b36
*cursorColor:           #93a1a1
*pointerColorBackground:#586e75
*pointerColorForeground:#93a1a1

!! black dark/light
*color0:                #111111
*color8:                #444444

!! red dark/light
*color1:                #dc322f
*color9:                #cd4b16

!! green dark/light
*color2:                #668e11
*color10:               #aeee00

!! yellow dark/light
*color3:                #b58900
*color11:               #ff9900

!! blue dark/light
*color4:                #268bd2
*color12:               #4bb0f7

!! magenta dark/light
*color5:                #d33682
*color13:               #6c71c4

!! cyan dark/light
*color6:                #2aa198
*color14:               #00e1d0

!! white dark/light
*color7:                #eee8d5
*color15:               #fdf6e3

!!!Config Urxvt!!!

!URxvt.depth: 32
!URxvt.background: rgba:1500/1500/1500/ffff
! URxvt.depth: 32
! URxvt.background: rgba:1111/1111/1111/dddd
! *background:   #151515
! *foreground:   white
URxvt.transparent: true
URxvt.shading: 10
! URxvt.depth: 32
! URxvt.background: [20]#000000
URxvt.font: xft: Terminus:pixelsize=8:antialias=false
URxvt.cursorBlink: true
URxvt.geometry: 80x20
URxvt.scrollBar: true
Urxvt.secondaryScroll: true
URxvt.scrollBar_right: true
URxvt.scrollBar_floating: true
URxvt.scrollstyle: plain
URxvt.scrollColor: #252525
URxvt*termName: screen-256color
! URxvt.cursorColor: #404040
! Depend on urxvt-clipboard and enable select-copy and ctrl-v paste.
! Also enable clickable links (left mouse btn)
URxvt.perl-ext-common: default,clipboard,matcher
URxvt.urlLauncher: google-chrome
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
